*{
    padding: 0;
    margin: 0;
}
.displayDetails{
    height: 100%;   
}
.single{
    padding: 1rem;
}

.single > h1{
    width: 100%;
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.display{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 1rem;

}

.image{
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
   
}

.image img{
    width: 100%;
    max-width: 40vw;
    height: 100%;
    max-height: 50vh;
    mix-blend-mode: multiply;
}

.details{
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: .5rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    height: 100%;

}
.details p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.details p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 500;
}
.action{
    display: flex;
}

.action a{
    background-color: rgb(0, 130, 0);
    color: white;
    font-weight: 400;
    border-radius: .5rem;
    padding: .2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 3px 3px 3px gray;
    text-decoration: none;
    transition: .1s all ease-in-out;
}
.action button{
    background-color: red;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: .5rem;
    margin-left: .5rem;
    padding: .2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 3px 3px 3px gray;
    transition: .1s all ease-in-out;
}

.action button:hover, .action a:hover{
    transform: translateY(-.2rem);
}
@media only screen and (max-width: 600px) {
    .display{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

